@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color: rgb(8, 8, 8);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 10px 200px;

}

@media (max-width : 600px) {
    header {
        display: flex;
        justify-content: space-around;
        padding: 5px 0px;
    }
}

@media (min-width : 600px) and (max-width : 1000px) {

    header {
        display: flex;
        justify-content: space-around;
        padding: 5px 0px;
        
    }
   
}

.logo {
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

@media  (min-width : 600px) and (max-width : 1000px) {
   .logo {
       font-size: 10px;
       margin-right: 15px;
       margin-top: 4px;
       margin-left: 0px;
   }
}

@media  (min-width : 600px) and (max-width : 1000px)  {
    .logo {
        font-size: 15px;
        margin-right: 15px;
        margin-top: 4px;
        margin-left: 0px;
    }
 }


.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 25px;
    font-weight: 550;
    transition: 1s ease;
}

@media (max-width : 600px) {
    .links a {
        padding: 10px 5px;
        font-size: 15px;
        
    }
}

@media  (min-width : 600px) and (max-width : 1000px) {


    .links a {
        font-size: 15px;
    }
}


.links a:hover {
    color: rgb(58, 39, 163);
    font-size: 18px;

}

section {
    padding: 50px 200px;
}

@media (max-width : 600px) {
   section {
       padding: 0px 20px;
       overflow: hidden;
   }
}

@media  (min-width : 600px) and (max-width : 1000px) {

    section {
        padding: 0px 20px;
        overflow: hidden;
    }
}


.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(33333.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.main h2 {
    color: rgb(10, 2, 65);
    font-size: 18px;
    font-weight: 500;
}

@media (max-width : 600px) {
   .main h2 {
       font-size: 20px;
   }
}

.main h2 span {
    color: rgb(14, 3, 53);
    font-size: 50px;
    font-weight: bold;
}
 
@media (max-width : 600px) {
   .main h2 span{
       font-size: 33px;
   }
}

.pro {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 3, 53);
    display: inline-block;
    padding: 8px 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
    transition: 1s ease;
}

@media (max-width : 600px) {
   .pro {
       font-size: 20px;
       font-weight: 400px;
   }
}

.pro:hover {
    background-color: rgb(8, 8, 110);
    transform: scale(1.1);
}



.loma a {
    font-size: 25px;
    color: rgb(14, 2, 78);
    padding-right: 20px;
    transition: .7s ease; ;
    
}

@media (max-width : 600px) {

    .loma a {
        font-size: 18px;
    }
   
}

.loma a:hover {
    font-size: 35px;
    transform: scale(1.1);
}

.title {
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 900px;
    color: rgb(244, 244, 252);
    background-color: rgb(5, 5, 92);
    padding: 10px 35px;
    margin-bottom: 30px;
    margin-left: 300px;
    border-radius: 15px;
}

@media (max-width : 600px) {

    .title {
       width: 200px;
       font-size: 20px;
       margin-top: 30px;
       margin-left: 80px;
     
    }
   
}

@media  (min-width : 600px) and (max-width : 1000px) {

    .title {
        width: 300px;
       font-size: 35px;
       margin-top: 30px;
       margin-left: 220px;
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

@media (max-width : 600px) {
   .content {
       display: flex;
       flex-direction: column;
       align-items: center;
      
       
       
   }
}

@media  (min-width : 600px) and (max-width : 1000px) {

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}



.card {
    width: 340px;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(151, 151, 153, 0.849); 
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    transition: .7s ease; ;
}




.card:hover {
    transform: scale(1.1);
}

.icon {
    text-align: center;
    font-size: 80px;
    color: rgb(3, 3, 63);
}

.text {
    text-align: center;
}

.text h2 {
    font-weight: 700;
    margin: 15px;
}

.text p {
    font-weight: 600;
}

.img1 {
    margin-top: 20px;
}



.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    min-height: 224px;
    width: 368px;
    border: 1px solid rgb(12, 12, 12);
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);

}

.card-img img {
    width: 100%;
}

.project-info {
    padding: 16px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
} 

.more-detailes {
    color: #fff;
    background-color: #000016;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}


.contact .icon {
    font-size: 50px;
}

.footer {
    
    background-color: #000016;
    display: flex;
    justify-content: space-between;
   
}

.copyright {
    display: flex;
    margin: 18px;
    color: rgb(255, 255, 255);
    
}

.copyright a {
    padding: 0px 5px;
   
}

.footer .loma{
    margin: 10px;
    
}

@media (max-width : 600px) {
   .footer .loma {
       
    margin: 2px;
    padding-top: 14px;
   }
}
.footer .loma a {
    color: #fff;
    
}



